<mat-toolbar color="primary">
    <span>SHARE MARKET</span> 
     <div class="spacer"></div>
       <button mat-raised-button color="primary" routerLink="/login">LOGIN</button>
       <button mat-raised-button color="primary" routerLink="/register">REGISTER</button>
       <button mat-raised-button color="primary" routerLink="/companystock">STOCK</button>
       <button mat-raised-button color="primary" routerLink="/sell">SELL</button>
     
      </mat-toolbar>
   
<!-- <div class="chartbox">
    <canvas id="mychart">{{chart}}</canvas>
</div> -->

<div>
    <mat-form-field>
        <mat-label>COMPANYNAME</mat-label>
        
        <mat-select>
            <mat-option *ngFor="let s of stack"
            [value]="s.companyname"
            #cname
            (click)="getcompany(cname.value)">
                 {{s.companyname}}

                </mat-option>
            </mat-select>
        </mat-form-field>
</div>

<div>
    <canvas id="mychart">{{chart}}</canvas>
</div>