<mat-toolbar color="primary">
    <span>SHARE MARKET</span> 
     <div class="spacer"></div>
       <button mat-raised-button color="primary" routerLink="/login">LOGIN</button>
       <button mat-raised-button color="primary" routerLink="/register">REGISTER</button>
       <button mat-raised-button color="primary" routerLink="/chart">CHART</button>
        <button mat-raised-button color="primary" routerLink="/companystock">STOCK</button>
     </mat-toolbar>

     <mat-card>
      <mat-card-header>
        <mat-form-field>
        <input matInput (keyup)="filterchange($event)" placeholder="enter the text">
        </mat-form-field>
      </mat-card-header>
      <mat-card-content>
  

     <div class="tablesize">
     <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
            <ng-container matColumnDef="id">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
    
      <!-- Name Column -->
      <ng-container matColumnDef="companyname">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>COMPANYNAME</th>
        <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="count">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>COUNT</th>
        <td mat-cell *matCellDef="let element"> {{element.counts}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="total">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>TOTAL</th>
        <td mat-cell *matCellDef="let element"> ${{element.total}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button mat-raised-button color="accent" (click)="popup(element.id)" >Click</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  
  <mat-card-footer>
    <mat-paginator [length]="30"  [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
 </mat-card-footer>
</mat-card-content>
</mat-card>