<mat-toolbar color="primary" fxLayoutAlign="center center">
  <span >SHARE MARKET</span> 
</mat-toolbar>
<body>
<div fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25">
    <mat-toolbar color="primary" fxLayoutAlign="center center">LOGIN</mat-toolbar>
<form  [formGroup]="userforms" (ngSubmit)="submitdata()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    
  <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
       <input formControlName="username" [(ngModel)]="logindata.username" (input)="setdata(logindata.username)" matInput  required>
       <mat-error *ngIf="userforms.controls['username'].errors?.['required']">
        This Field is Required</mat-error>
        <mat-error *ngIf="userforms.controls['username'].errors?.['minlength']">
          Minumum 4 character required</mat-error>
          <mat-error *ngIf="userforms.controls['username'].errors?.['maxlength']">
            invalid username</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input type="password" formControlName="password" [(ngModel)]="logindata.password" matInput required>
        <mat-error *ngIf="userforms.controls['password'].errors?.['required']">
          This Field is Required</mat-error>
          <mat-error *ngIf="userforms.controls['password'].errors?.['minlength']">
            Minumum 4 password required</mat-error>
             <mat-error *ngIf="userforms.controls['password'].errors?.['maxlength']">
              invalid oassword</mat-error>
     </mat-form-field>
   <button mat-raised-button color="accent"  type="submit" [disabled]="userforms.invalid" >LOGIN</button>
   
    </form>
    <button class=" mx-3 mb-3 col-md-11 " mat-raised-button color="accent" mat-raised-button type="submit" routerLink="/register">SIGN UP</button>
  </mat-card>
</div>
</body>

