
<div class="table-responsive-md mt-4" fxLayoutAlign="center center" >

    
    <h3 style="margin-right:40px;" >companyname</h3>
               <h3 name="companyname"  style="margin-right: 50px;">{{saleproduct.companyname}}</h3>


</div>

<div fxLayoutAlign="center center">
    <h3 style="margin-right: 50px;">stackcount</h3>
        <h3 style="margin-right: 30px;">{{saleproduct.counts}}</h3>
    </div>

<div fxLayoutAlign="center center">
<h3 style="margin-right: 50px;">price</h3>
    <h3 >${{saleproduct.total}}</h3>
</div>


<div fxLayoutAlign="center center" style="margin-top: 40px;">
    <button mat-raised-button color="accent"  type="submit" (click)="sales()"  >SELL</button>
</div>

