
<form (ngSubmit)="amountdata()">
    
<div class="table-responsive-md mt-4" fxLayoutAlign="center center" >

    
        <h3 style="margin-right:40px;" >companyname</h3>
                   <h3 name="companyname" [(ngModel)]="selldatas.companyname"  style="margin-right: 50px;">{{buyproduct.companyname}}</h3>
    
    
</div>
<div fxLayoutAlign="center center">
    <h3 style="margin-right: 50px;">price</h3>
        <h3 >${{buyproduct.price}}</h3>
    </div>

    <div class="form-floating col-4 mt-2" style="margin-left: 140px;" >
    <input [(ngModel)]="selldatas.counts" name="counts" class="form-control" min="1" max="10" type="number" (input)="pricevalue($event)" placeholder="count">
    <label>count</label>
    </div>
  
    <div style="margin-left: 130px;margin-top: 40px;" *ngIf="visible">
       
        <span style="font-weight: bold; color: darkslateblue;">Total Price</span>
        <span name="totalprice" [(ngModel)]="selldatas.total" style="font-weight: bold;color: black;padding: 40px;" name="total">{{total}}</span>
       
        <!-- <span > Total price is <p name="amount" [(ngModel)]="total" style="font-weight: bold;text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.399);">{{total}}</p></span> -->

        
</div>
    <div fxLayoutAlign="center center" style="margin-top: 40px;">
        <button mat-raised-button color="accent"  type="submit"  >BUY</button>
    </div>
   </form>
    
       