<mat-toolbar color="primary">
 <span>SHARE MARKET</span> 
  <div class="spacer"></div>
    <button mat-raised-button color="primary" routerLink="/login">LOGIN</button>
    <button mat-raised-button color="primary" routerLink="/register">REGISTER</button>
    <button mat-raised-button color="primary" (click)="graph()">CHART</button>
    <!-- <button mat-raised-button color="primary" routerLink="/chart">STOCK</button> -->
  
  
   </mat-toolbar>

    <!-- <div class="table-responsive-md" fxLayoutAlign="center center">
    <table class="table" fxFlex="50" >
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">COMPANYNAME</th>
                <th scope="col">DATE</th>
                <th scope="col">PRICE</th>
                <th scope="col">OPTIONS</th>

                 </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stu of stacks">
    
                <td>{{stu.id}}</td>
                <td>{{stu.companyname}}</td>
                <td>{{stu.date}}</td>
                <td>{{stu.price}}</td>
                <td><button mat-raised-button color="accent" (click)="popup(stu.id)">BUY</button></td>
                
            </tr>
        </tbody>
      </table>
      <div><button mat-raised-button color="accent" routerLink="/chart">Chart</button></div>
    </div> -->
    <mat-card>
    <mat-card-header>
      <mat-form-field>
      <input matInput (keyup)="filterchange($event)" placeholder="enter the text">
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="companyname">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>COMPANYNAME</th>
          <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="date">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>DATE</th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="price">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>PRICE</th>
          <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button mat-raised-button color="accent" (click)="popup(element.id)" >Click</button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <mat-card-footer>
         <mat-paginator [length]="30"  [pageSizeOptions]="[6,10,15]" showFirstLastButtons></mat-paginator>
      </mat-card-footer>
    </mat-card-content>
    </mat-card>
     