
<body>
  <mat-toolbar color="primary" >
    <span >SHARE MARKET</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/login">LOGIN</button>
  </mat-toolbar>
  
<div class="container" fxLayoutAlign="center center" fxFlexFill >
  <mat-card fxFlex="35">
    <mat-toolbar color="primary" fxLayoutAlign="center center">SIGN UP</mat-toolbar>

    <form [formGroup]="userforms"  (ngSubmit)="submitdata()" fxLayoutAlign="stretch" fxLayout="column" class="register-form">

      <!-- <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
       <input formControlName="id" [(ngModel)]="registerdata.id" matInput  required>
       <mat-error *ngIf="userforms.controls['id'].errors?.['required']">
        This Field is Required</mat-error>
      </mat-form-field> -->
     
     
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput  [(ngModel)]="registerdata.username" formControlName="username"  required>
        <mat-error *ngIf="userforms.controls['username'].errors?.['required']">
          This Field is Required</mat-error>
          <mat-error *ngIf="userforms.controls['username'].errors?.['minlength']">
            Minumum 4 character required</mat-error>
            <mat-error *ngIf="userforms.controls['username'].errors?.['maxlength']">
              invalid username</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="registerdata.password" formControlName="password"  required>
        <mat-error *ngIf="userforms.controls['password'].errors?.['required']">
          This Field is Required</mat-error>
          <mat-error *ngIf="userforms.controls['password'].errors?.['minlength']">
            Minumum 4 password required</mat-error>
            <mat-error *ngIf="userforms.controls['password'].errors?.['maxlength']">
              invalid password</mat-error>

      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>DOB</mat-label>
        <input type="date" [(ngModel)]="registerdata.dob" matInput formControlName="dob"  required>

        <mat-error *ngIf="userforms.controls['dob'].errors?.['required']">
          This Field is Required</mat-error>
          <!-- <mat-error *ngIf="userforms.controls['dob'].errors?.['max']">
            above 18 only allow</mat-error> -->
          
        
  </mat-form-field>
  
       
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="registerdata.email"  formControlName="email"  required>
        <mat-error *ngIf="userforms.controls['email'].errors?.['required']">
         This Field is required
           </mat-error>
           <mat-error *ngIf="userforms.controls['email'].errors?.['email']">
            invalid email
              </mat-error>
          
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>PAN</mat-label>
        <input matInput [(ngModel)]="registerdata.pan"  formControlName="pan"  required>
        <mat-error *ngIf="userforms.controls['pan'].errors?.['required']">
         This Field is required
           </mat-error>
          
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>TotalAmount</mat-label>
        <input matInput type="number" [(ngModel)]="registerdata.totalamount"  formControlName="totalamount"  required>
        <mat-error *ngIf="userforms.controls['totalamount'].errors?.['required']">
         This Field is required
           </mat-error>
           <mat-error *ngIf="userforms.controls['totalamount'].errors?.['min']">
            minimum 4 digit required
              </mat-error>
          
      </mat-form-field>




      <button mat-raised-button color="accent"  type="submit"  [disabled]="userforms.invalid" >SAVE</button>


</form>
</mat-card>
</div>
</body>



<!-- <div class="container col-md-4 my-5"> -->
    
    <!--  <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text"  class="form-control col-md-4" formControlName="username" required>
      </div>
        
      <div class="mb-3">
        <label  for="password" class="form-label">Password</label>
        <input type="password"  class="form-control" formControlName="password" required>
        <mat-error *ngIf="formvalidationservice.userforms.invalid">This Field is Required</mat-error>
      </div>
    
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" formControlName="date" min="1990-01-01" max="2005-12-31" required>
      </div>
      <div class="mb-3">
        <label for="mail" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" required>
        <mat-error>Email is required</mat-error>
        
          <mat-error *ngIf="userforms.hasError('email') && !userforms.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userforms.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
      </div>


<button type="submit"  class="btn btn-primary col-md-12">SAVE</button>  -->









