.register-form{
    padding: 20px;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2014/11/25/08/11/dollar-exchange-rate-544949_960_720.jpg");

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

mat-card{
margin-bottom: 4%;
}
.spacer{
    flex: 1 1 auto;
}

